<!DOCTYPE html>
<html lang="en-US">

<head>

    <title>Image Gallery</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
    <!--link href="task2/static/css/index.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">


    <body class="body">

        <header class="header-container">
            <h1 class="h1"> IMAGE <br> GALLERY</h1>
        </header>

        <div class="gallery-container">

            <img src="static/images/1.jpg" width="150" height="150" alt="1">
            <img src="static/images/2.png" width="150" height="150" alt="2">
            <img src="static/images/3.jpg" width="150" height="150" alt="3">
            <img src="static/images/4.jpg" width="150" height="150" alt="4">
            <img src="static/images/5.png" width="150" height="150" alt="5">
            <img src="static/images/6.jpg" width="150" height="150" alt="6">
            <img src="static/images/7.jpg" width="150" height="150" alt="7">
            <img src="static/images/8.png" width="150" height="150" alt="8">
            <img src="static/images/9.png" width="150" height="150" alt="9">
            <img src="static/images/10.jpg" width="150" height="150" alt="10">
            <img src="static/images/11.jpg" width="150" height="150" alt="11">
            <img src="static/images/12.png" width="150" height="150" alt="12">
            <img src="static/images/13.jpg" width="150" height="150" alt="13">
            <img src="static/images/14.jpg" width="150" height="150" alt="14">
            <img src="static/images/15.png" width="150" height="150" alt="15">
            <img src="static/images/16.png" width="150" height="150" alt="16">
            <img src="static/images/17.jpg" width="150" height="150" alt="17">
            <img src="static/images/18.jpg" width="150" height="150" alt="18">
            <img src="static/images/19.jpg" width="150" height="150" alt="19">
            <img src="static/images/20.png" width="150" height="150" alt="20">
            <img src="static/images/21.jpg" width="150" height="150" alt="21">
            <img src="static/images/22.jpg" width="150" height="150" alt="22">
            <img src="static/images/23.jpg" width="150" height="150" alt="23">
            <img src="static/images/24.jpg" width="150" height="150" alt="24">
            <img src="static/images/25.jpg" width="150" height="150" alt="25">
            <img src="static/images/26.jpg" width="150" height="150" alt="26">
            <img src="static/images/27.jpg" width="150" height="150" alt="27">
            <img src="static/images/28.jpg" width="150" height="150" alt="28">
            <img src="static/images/29.jpg" width="150" height="150" alt="29">
            <img src="static/images/30.jpg" width="150" height="150" alt="30">
            <img src="static/images/31.jpg" width="150" height="150" alt="31">
            <img src="static/images/32.jpg" width="150" height="150" alt="32">
            <img src="static/images/33.jpg" width="150" height="150" alt="33">
            <img src="static/images/34.jpg" width="150" height="150" alt="34">
            <img src="static/images/35.jpg" width="150" height="150" alt="35">
            <img src="static/images/36.jpg" width="150" height="150" alt="36">
            <img src="static/images/37.jpg" width="150" height="150" alt="37">
            <img src="static/images/38.jpg" width="150" height="150" alt="38">
            <img src="static/images/39.png" width="150" height="150" alt="39">
            <img src="static/images/40.jpg" width="150" height="150" alt="40">
            <img src="static/images/41.jpg" width="150" height="150" alt="41">
            <img src="static/images/42.png" width="150" height="150" alt="42">
            <img src="static/images/43.jpg" width="150" height="150" alt="43">
            <img src="static/images/44.jpg" width="150" height="150" alt="44">
            <img src="static/images/45.jpg" width="150" height="150" alt="45">
            <img src="static/images/46.jpg" width="150" height="150" alt="46">
            <img src="static/images/47.jpg" width="150" height="150" alt="47">
            <img src="static/images/48.png" width="150" height="150" alt="48">
            <img src="static/images/49.jpg" width="150" height="150" alt="49">
            <img src="static/images/50.jpg" width="150" height="150" alt="50">
            <img src="static/images/51.png" width="150" height="150" alt="51">
            <img src="static/images/52.jpg" width="150" height="150" alt="52">
            <img src="static/images/53.jpg" width="150" height="150" alt="53">
            <img src="static/images/54.jpg" width="150" height="150" alt="54">
            <img src="static/images/55.jpg" width="150" height="150" alt="55">
            <img src="static/images/56.png" width="150" height="150" alt="56">
            <img src="static/images/57.jpg" width="150" height="150" alt="57">
            <img src="static/images/58.jpg" width="150" height="150" alt="58">
            <img src="static/images/59.jpg" width="150" height="150" alt="59">
            <img src="static/images/60.jpg" width="150" height="150" alt="60">
            <img src="static/images/61.jpg" width="150" height="150" alt="61">
            <img src="static/images/62.jpg" width="150" height="150" alt="62">
            <img src="static/images/63.jpg" width="150" height="150" alt="63">
            <img src="static/images/64.jpg" width="150" height="150" alt="64">
            <img src="static/images/65.jpg" width="150" height="150" alt="65">
            <img src="static/images/66.jpg" width="150" height="150" alt="66">
            <img src="static/images/67.jpg" width="150" height="150" alt="67">
            <img src="static/images/68.jpg" width="150" height="150" alt="68">
            <img src="static/images/69.jpg" width="150" height="150" alt="69">
            <img src="static/images/70.jpg" width="150" height="150" alt="70">
            <img src="static/images/71.jpg" width="150" height="150" alt="71">
            <img src="static/images/72.jpg" width="150" height="150" alt="72">
            <img src="static/images/73.jpg" width="150" height="150" alt="73">
            <img src="static/images/74.png" width="150" height="150" alt="74">
            <img src="static/images/75.png" width="150" height="150" alt="75">
            <img src="static/images/76.jpg" width="150" height="150" alt="76">
            <img src="static/images/77.jpg" width="150" height="150" alt="77">
            <img src="static/images/78.jpg" width="150" height="150" alt="78">
            <img src="static/images/79.jpg" width="150" height="150" alt="79">
            <img src="static/images/80.jpg" width="150" height="150" alt="80">
            <img src="static/images/81.jpg" width="150" height="150" alt="81">
            <img src="static/images/82.jpg" width="150" height="150" alt="82">
            <img src="static/images/83.gif" width="150" height="150" alt="83">
            <img src="static/images/84.jpg" width="150" height="150" alt="84">
            <img src="static/images/85.jpg" width="150" height="150" alt="85">
            <img src="static/images/86.jpg" width="150" height="150" alt="86">
            <img src="static/images/87.jpg" width="150" height="150" alt="87">
            <img src="static/images/88.jpg" width="150" height="150" alt="88">
            <img src="static/images/89.jpg" width="150" height="150" alt="89">
            <img src="static/images/90.jpg" width="150" height="150" alt="90">
            <img src="static/images/91.jpg" width="150" height="150" alt="91">
            <img src="static/images/92.jpg" width="150" height="150" alt="92">
            <img src="static/images/93.jpg" width="150" height="150" alt="93">
            <img src="static/images/94.jpg" width="150" height="150" alt="94">
            <img src="static/images/95.png" width="150" height="150" alt="95">
            <img src="static/images/96.jpg" width="150" height="150" alt="96">
            <img src="static/images/97.jpeg" width="150" height="150" alt="97">
            <img src="static/images/98.jpg" width="150" height="150" alt="98">
            <img src="static/images/99.jpg" width="150" height="150" alt="99">
            <img src="static/images/100.jpg" width="150" height="150" alt="100">
            <img src="static/images/101.jpg" width="150" height="150" alt="101">
            <img src="static/images/102.jpg" width="150" height="150" alt="102">
            <img src="static/images/103.jpg" width="150" height="150" alt="103">
            <img src="static/images/104.jpg" width="150" height="150" alt="104">
        </div>

    </body>

</html>
